# Cache folders
__pycache__
training/__pycache__
training/wandb
.ipynb_checkpoints
.slurm_logs

# Virtual environment
.venv

# Model checkpoints
checkpoints

# Raw data
data/

# Slurm scripts
slurm/

__MACOSX/